# Ignore everything by defualt
*

#Track files and directories
!.gitignore
!Brewfile
!Readme.md
!.zshrc
!install.sh
!.tmux-layouts/
!.tmux-layouts/**
!.tmux.conf
!.config/
!.config/ghostty/
!.config/ghostty/**
!.config/bat/
!.config/bat/**
!.config/aerospace
!.config/aerospace/**

